<ds-modal-sheet
  [open]="show"
  [auto]="true"
  [title]="title | t"
  [closeLabel]="cancelLabel | t"
  (closed)="onDismiss()"
>
  <ds-stack gap="var(--ds-space-4)">
    <ds-stack direction="row" gap="var(--ds-space-3)" align="start">
      <ds-icon-badge
        [icon]="badgeIcon"
        [tone]="iconVariant"
        [size]="42"
        [iconSize]="19"
      />
      <ds-text>
        @if (itemName) {
          {{ body | t }}
          <ds-text [inline]="true" variant="strong">{{ itemName }}</ds-text
          >?
        } @else {
          {{ body | t }}
        }
      </ds-text>
    </ds-stack>

    @if (warningText) {
      <ds-note icon="alertCircle" tone="danger">{{ warningText | t }}</ds-note>
    }

    <ds-stack gap="var(--ds-space-2)">
      <ds-button
        [variant]="confirmVariant"
        size="md"
        [fullWidth]="true"
        [loading]="isDeleting"
        (clicked)="confirmed.emit()"
      >
        {{ isDeleting ? (deletingLabel | t) : (confirmLabel | t) }}
      </ds-button>
      <ds-button
        variant="ghost"
        size="md"
        [fullWidth]="true"
        [disabled]="isDeleting"
        (clicked)="cancelled.emit()"
      >
        {{ cancelLabel | t }}
      </ds-button>
    </ds-stack>
  </ds-stack>
</ds-modal-sheet>
