<ds-modal-sheet
  [open]="show"
  [title]="title | t"
  [closeLabel]="cancelLabel | t"
  [confirmLabel]="(isDeleting ? deletingLabel : confirmLabel) | t"
  [confirmIcon]="badgeIcon"
  [confirmTone]="
    confirmVariant === 'danger' || confirmVariant === 'outline-danger'
      ? 'danger'
      : 'primary'
  "
  [confirmDisabled]="isDeleting"
  (confirmed)="onConfirm()"
  (closed)="onDismiss()"
>
  <ds-stack gap="var(--ds-space-4)">
    <ds-stack direction="row" gap="var(--ds-space-3)" align="start">
      <ds-icon-badge
        [icon]="badgeIcon"
        [tone]="iconVariant"
        [size]="42"
        [iconSize]="19"
      />
      <ds-text>
        @if (itemName) {
          {{ body | t }}
          <ds-text [inline]="true" variant="strong">{{ itemName }}</ds-text
          >?
        } @else {
          {{ body | t }}
        }
      </ds-text>
    </ds-stack>

    @if (warningText) {
      <ds-note icon="alertCircle" tone="danger">{{ warningText | t }}</ds-note>
    }
  </ds-stack>
</ds-modal-sheet>
