<ds-swipe-to-delete
  #swipe
  [reveal]="64"
  radius="var(--ds-radius-md)"
  [removeLabel]="removeLabel"
  (remove)="remove.emit()"
>
  <div
    class="set-row"
    [class.set-row--slid]="swipe.slid"
    [class.set-row--done]="done"
    [class.set-row--warmup]="warmup"
  >
    @if (showCheck) {
      <button
        type="button"
        class="set-check"
        [class.set-check--on]="done"
        [attr.aria-label]="markDoneLabel"
        (click)="toggleDone.emit()"
      >
        @if (done) {
          <ds-icon name="check" [size]="15" [stroke]="3" />
        }
      </button>
    }
    @if (showKindToggle) {
      <button
        type="button"
        class="set-row__num set-row__num--toggle"
        [attr.aria-label]="toggleKindLabel"
        [attr.aria-pressed]="warmup"
        (click)="toggleKind.emit()"
      >
        {{ displayLabel }}
      </button>
    } @else {
      <span class="set-row__num">{{ displayLabel }}</span>
    }
    <ds-number-input
      variant="boxed"
      [stepper]="true"
      [step]="1"
      [min]="0"
      [ngModel]="reps"
      (ngModelChange)="repsChange.emit($event)"
      [ariaLabel]="repsAriaLabel"
      [incrementLabel]="repsUpLabel"
      [decrementLabel]="repsDownLabel"
    />
    <ds-number-input
      variant="boxed"
      [stepper]="true"
      [step]="2.5"
      [precision]="1"
      [min]="0"
      [ngModel]="weight"
      (ngModelChange)="weightChange.emit($event)"
      [ariaLabel]="weightAriaLabel"
      [incrementLabel]="weightUpLabel"
      [decrementLabel]="weightDownLabel"
    />
  </div>
</ds-swipe-to-delete>
