<ds-page-wrapper>
  @if (loading()) {
    <ds-skeleton-page-header [showAction]="true"></ds-skeleton-page-header>
  }

  @if (!loading()) {
    <ds-page-header
      [title]="'getCategories.title' | t"
      [subtitle]="'getCategories.subtitle' | t"
    >
      <ds-button
        slot="actions"
        variant="primary"
        size="lg"
        icon="plus"
        (clicked)="onCreate()"
      >
        {{ "getCategories.new" | t }}
      </ds-button>
    </ds-page-header>
  }

  <ds-list-filters
    [fields]="filterFields"
    [loading]="loading()"
    (filtersApplied)="onFiltersApplied($event)"
    (filtersCleared)="onFiltersCleared()"
  />

  <ds-list-table
    [items]="items()"
    [columns]="columns"
    [actions]="actions"
    [loading]="loading()"
    [emptyTitle]="'getCategories.table.emptyTitle' | t"
    [emptyMessage]="'getCategories.table.emptyMessage' | t"
    (actionClick)="onAction($event)"
  />

  @if (!loading() && items().length > 0) {
    <ds-pagination
      [currentPage]="currentPage()"
      [pageSize]="pageSize()"
      [totalItems]="totalItems()"
      (pageChange)="goToPage($event)"
      (pageSizeChange)="onPageSizeChange($event)"
    />
  }
</ds-page-wrapper>
