<div class="floating-save-button">
  <app-button
    variant="primary"
    size="lg"
    [type]="type || 'button'"
    [disabled]="isDisabled()"
    [loading]="loading || false"
    [fullWidth]="fullWidth || false"
    (clicked)="handleClick()"
  >
    @if (!loading) {
      @if (showIcon && !customIcon) {
        <svg
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.75"
          stroke-linecap="round"
          stroke-linejoin="round"
          aria-hidden="true"
        >
          <use href="assets/icons/golifecraft/sprite.svg#i-save"></use>
        </svg>
      }
      @if (showIcon && customIcon) {
        <i [class]="customIcon"></i>
      }
      {{ label || ("floatingSaveButton.label" | t) }}
    }
  </app-button>
</div>
