<ds-page-wrapper [maxWidth]="'720px'" [gap]="'24px'">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ds-section-page-wrapper
      [title]="'updateSupermarket.title' | t"
      [description]="'updateSupermarket.description' | t"
      [loading]="loading()"
      [skeletonRows]="1"
      [skeletonFieldsPerRow]="1"
      [showBackButton]="true"
      [icon]="'category'"
      (backClicked)="cancel()"
    >
      <ds-form-section
        [title]="'updateSupermarket.section.general' | t"
        [icon]="ICONS['BUILDING']"
      >
        <ds-form-input
          [label]="'updateSupermarket.field.name' | t"
          [showRequired]="true"
          formControlName="name"
        ></ds-form-input>
      </ds-form-section>
    </ds-section-page-wrapper>

    <ds-form-actions
      [cancelLabel]="'updateSupermarket.cancel' | t"
      [submitLabel]="'updateSupermarket.save' | t"
      [savingLabel]="'updateSupermarket.saving' | t"
      [saving]="saving()"
      [formInvalid]="form.invalid"
      (cancelled)="cancel()"
    ></ds-form-actions>
  </form>
</ds-page-wrapper>
