<button
  [type]="type"
  [class]="buttonClasses"
  [disabled]="isDisabled"
  (click)="handleClick()"
>
  <span class="ds-btn__content">
    @if (loading) {
      <span class="ds-btn__spinner"></span>
    }
    @if (icon) {
      <ds-icon [name]="icon" [size]="resolvedIconSize" [stroke]="2.75" />
    }
    <ng-content></ng-content>
    @if (trailingIcon) {
      <ds-icon
        class="ds-btn__trailing"
        [name]="trailingIcon"
        [size]="resolvedIconSize"
        [stroke]="2.75"
      />
    }
  </span>
</button>
