<div class="swipe" [style.border-radius]="radius">
  @if (!disabled) {
    <button
      type="button"
      class="swipe__delete"
      [class.swipe__delete--revealed]="slid"
      [style.width.px]="reveal"
      [attr.aria-label]="removeLabel"
      (pointerup)="onDeletePointerUp($event)"
      (click)="onDeleteClick($event)"
    >
      <ds-icon name="trash" [size]="17" />
    </button>
  }

  <div
    class="swipe__surface"
    [class.swipe__surface--slid]="slid"
    [style.transform]="transform"
    [style.transition]="transition"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp()"
    (pointercancel)="onPointerUp()"
  >
    <ng-content />
  </div>
</div>
