<div class="member-card">
  <div class="member-header">
    <h4 class="member-title">
      <ng-content select="[slot='icon']"></ng-content>
      {{ title }}
    </h4>
    @if (!isReadOnly) {
      <app-button
        variant="danger"
        size="icon"
        [disabled]="!canRemove || isDeleting"
        [loading]="isDeleting"
        (clicked)="delete.emit()"
      >
        @if (!isDeleting) {
          <svg
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            aria-hidden="true"
          >
            <use href="assets/icons/golifecraft/sprite.svg#i-trash"></use>
          </svg>
        }
      </app-button>
    }
  </div>

  <div class="member-content">
    <ng-content></ng-content>
  </div>
</div>
