<div class="diary-entry">
  @if (canWrite) {
    <button
      type="button"
      class="diary-entry__delete"
      [attr.aria-label]="removeLabel"
      (click)="onDelete()"
    >
      <ds-icon name="trash" [size]="17" />
    </button>
  }

  <div
    class="diary-entry__row"
    [class.diary-entry__row--slid]="slid"
    [style.transform]="transform"
    [style.transition]="transition"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp()"
    (pointercancel)="onPointerUp()"
  >
    <ds-emoji-tile [emoji]="emoji" [size]="38" [radius]="10" />

    <div class="diary-entry__body">
      <span class="diary-entry__name">{{ name }}</span>
      <div class="diary-entry__meta">
        <ds-chip [tone]="badgeTone">{{ badge }}</ds-chip>
        <span class="diary-entry__kcal">{{ kcalLabel }}</span>
      </div>
    </div>

    @if (canWrite) {
      <div class="diary-entry__qty-box">
        <input
          class="diary-entry__qty-input"
          type="text"
          inputmode="decimal"
          [value]="quantity"
          [attr.aria-label]="quantityAriaLabel"
          (input)="onQtyInput($event)"
        />
        <span class="diary-entry__qty-unit">{{ unit }}</span>
      </div>
    } @else {
      <span class="diary-entry__qty">{{ quantityLabel }}</span>
    }
  </div>
</div>
