<ds-swipe-to-delete
  #swipe
  [reveal]="66"
  radius="var(--ds-radius-lg)"
  [removeLabel]="removeLabel"
  (remove)="remove.emit()"
>
  <ds-stack
    class="diary-entry__row"
    direction="row"
    align="center"
    gap="var(--ds-space-3)"
    [class.diary-entry__row--slid]="swipe.slid"
    [class.diary-entry__row--expanded]="expandable && expanded"
  >
    @if (expandable) {
      <ds-pressable
        class="diary-entry__expand diary-entry__expand--tile"
        [ariaLabel]="expanded ? collapseLabel : expandLabel"
        (press)="expandToggled.emit()"
      >
        <ng-container [ngTemplateOutlet]="tile" />
      </ds-pressable>
    } @else {
      <ng-container [ngTemplateOutlet]="tile" />
    }

    <ds-stack gap="var(--ds-space-1)" [grow]="true">
      @if (openable) {
        <ds-pressable
          class="diary-entry__open"
          [ariaLabel]="openLabel"
          (press)="opened.emit()"
        >
          <ds-text variant="strong" class="diary-entry__name">{{
            name
          }}</ds-text>
        </ds-pressable>
      } @else {
        <ds-text variant="strong" class="diary-entry__name">{{ name }}</ds-text>
      }

      @if (expandable) {
        <ds-pressable
          class="diary-entry__expand"
          [ariaLabel]="expanded ? collapseLabel : expandLabel"
          (press)="expandToggled.emit()"
        >
          <ng-container [ngTemplateOutlet]="meta" />
        </ds-pressable>
      } @else {
        <ng-container [ngTemplateOutlet]="meta" />
      }
    </ds-stack>

    <ds-inline-quantity
      [quantity]="quantity"
      [unit]="unitValue || unit"
      [unitLabel]="unit"
      [unitOptions]="unitOptions"
      [ariaLabel]="quantityAriaLabel"
      [unitAriaLabel]="unitAriaLabel"
      (quantityChange)="quantityChange.emit($event)"
      (unitChange)="unitChange.emit($event)"
    />
  </ds-stack>
</ds-swipe-to-delete>

<ng-template #tile>
  <ds-emoji-tile
    [emoji]="emoji"
    [imageUrl]="imageUrl"
    [alt]="name"
    [size]="38"
    [radius]="10"
  />
</ng-template>

<ng-template #meta>
  <ds-stack gap="var(--ds-space-1)" [grow]="true">
    <ds-stack
      direction="row"
      align="center"
      gap="var(--ds-space-1-5)"
      [wrap]="true"
    >
      <ds-chip [tone]="badgeTone">{{ badge }}</ds-chip>
      @if (tag) {
        <ds-chip [tone]="tagTone">{{ tag }}</ds-chip>
      }
      <ds-macro-badges [kcal]="kcalLabel" />
    </ds-stack>
    <ds-macro-badges [macros]="macros" />
  </ds-stack>
</ng-template>
