@if (!isReadOnly) {
  <div class="add-member-container">
    <button
      type="button"
      class="btn-add-member"
      [class.btn-add-member--disabled]="disabled"
      [disabled]="disabled"
      (click)="add.emit()"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.75"
        stroke-linecap="round"
        stroke-linejoin="round"
        aria-hidden="true"
      >
        <use href="assets/icons/golifecraft/sprite.svg#i-plus-circle"></use>
      </svg>
      {{ label }}
    </button>
    @if (disabled && hint) {
      <p class="add-member-hint">{{ hint }}</p>
    }
  </div>
}
